.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f322f;
    color: #fbbf3d;
    text-align: center;
    width: 160px;
    height: 80px;
    border-radius: 15px;
    margin-top: 10px;
    gap: 5px;
}

button{
    margin: 5px;
    border-radius: 15px;
    width: 70px;
    background-color: white;
    color: #fbbf3d;
}